<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"  media="screen,projection"/>
        
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper teal">
                <a href="/" class="brand-logo center"> <i class="large material-icons">library_music</i> JukeBox</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="active"><a href="/">Watch</a></li>
                    <li><a href="/vote">Vote</a></li>
                    <li><a href="/result">Result</a></li>
                </ul>
            </div>
        </nav>
        <div class="video-container">
            {% if video_details.playlist %}
                <iframe width="720" height="405" src="{{ video_details.playlist }}" frameborder="0" allowfullscreen></iframe>
            {% endif %}
        </div>
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
    </body>
  </html>
        

